# Ignorar entornos virtuales
.venv/

# Ignorar cachés de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos de base de datos SQLite
db.sqlite3

# Ignorar migraciones compiladas
*/migrations/*.pyc


# Ignorar migraciones compiladas
taskmanager/migrations/__pycache__/